{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>ZERO E-Commerce</title>
    {% block meta %} 
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock meta %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              fontFamily: {
                poppins: ['Poppins', 'sans-serif'],
                lora: ['Lora', 'serif'],
              },
              colors: {
                background: '#ffe8e0',
                backgroundSecondary: '#ffd7d5',
                text: {
                    primary: '#180e4c',
                },
                base: {
                    white: '#ffffff',
                    black: '#000000',
                },
                logo: {
                    primary: '#003366',
                    secondary: '#FFFFD1',
                },
              },
            },
          },
        }
      </script>
    <link rel="stylesheet" href="{% static 'css/global.css' %}"/>
</head>

<body class="font-lora overflow-x-hidden">
    {% block content %} {% endblock content %}
    {% include 'footer.html' %}
</body> 

</html>