<div class="bg-white rounded-lg shadow-md overflow-hidden max-w-xs w-full">
    <img src="https://images.unsplash.com/photo-1504198458649-3128b932f49e?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="{{ item.name }}" class="w-full h-48 object-cover">
    <div class="p-4">
        <h2 class="text-xl font-semibold text-gray-800 mb-2">{{ item.name }}</h2>
        <p class="text-green-600 font-bold text-lg mb-2">${{ item.price }}</p>
        <p class="text-gray-600 text-sm mb-4">{{ item.description }}</p>
        <p class="text-sm text-gray-500 mb-2">In stock: {{ item.stock }}</p>
        <div class="flex justify-between">
            <a href="{% url 'main:edit_product' item.pk %}" class="bg-background text-gray-600 px-6 flex justify-center items-center rounded hover:bg-backgroundSecondary transition duration-300 font-poppins">Edit</a>
            <a href="{% url 'main:delete_product' item.pk %}" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 transition duration-300 font-poppins">Delete</a>
        </div>
    </div>
</div>