<!DOCTYPE html>
<html>
    <head>
        <title>ZERO E-Commerce</title>
        <style>
            .product {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        </style>
    </head>

    <body>
        <div class="product">
            <h1>ZERO E-Commerce</h1>
            <p>Product: {{ name }}</p>
            <p>Price: {{ price }}</p>
            <p>Description: {{ description }}</p>
            <p>Stock: {{ stock }}</p>
        </div>
    </body>
</html>